<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ariadna Kim Silva</title>
</head>
<body>
 I'm a data scientist with over 4 years of research experience. My interdisciplinary background spans neurobiology and data science. Early in my career (and with <em>a lot</em> of trial and error), I applied computational tools to answer biomedical questions. Seeing how these tools helped speed up and automate manual analysis sparked my interest in programming. Wanting to learn more, I eventually returned to graduate school to fill the technical gap. Here you can see some of the projects that I've worked on, from my capstone project to hobby projects.
</html>

