<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ariadna Kim Silva</title>
</head>
<body>
    <h1> From bench 🔬 to code  💻 </h1>
    <p>I started my career in the lab, where I quickly realized that I enjoyed analyzing data much more than running experiments. 
    That realization led me to learn programming, and eventually to data science. </p>
    <p> I bring both my research background and data science skills to the problems I work on. Research taught me how to ask good 
        questions, dig through the literature, and tackle unfamiliar problems. Data science gave me the tools to explore those questions.  
    </p>
    
</body>
    
</html>

