<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ariadna Kim Silva</title>
</head>
<body>
    I began my career as a laboratory technician, with a different career path in mind. As I gained research experience, 
    I became interested in using computational tools to make my work more efficient. I sought out new analytical tools on my own,
    automated repetitive tasks whenever possible, and looked for opportunities to improve data workflows, even when those approaches 
    weren't part of the lab's standard practices. That drive to solve problems through data motivated me to build skills in Python, SQL, 
    statistics, machine learning, and data visualization. Today, I combine my scientific background with technical expertise to uncover
    insights and build practical, data-driven solutions. This portfolio showcases projects that reflect both my analytical mindset and
    my passion for continuous learning.

</body>
    
</html>

